.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 400px; /* Set a default minimum width */
    margin-left: -250px; /* Divide value of min-width by 2 */
    /* background-color: green; Black background color */
    color: #fff; /* White text color */
    /* text-align: left; Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 5px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 90%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 1s, fadeout 1s 4s;
    animation: fadein 1s, fadeout 1s 4s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.my-search {
    margin-top: 4px;
    width: 400px;
    right: 0;
    left: -300px;
    position: absolute
  }
  @media screen and (min-width: 600px) {
    .my-search {
      margin-top: 12px;
      width: 400px;
      right: 0;
      left: -200px;
      position: absolute
    }
  }
  h1,
  h2 {
    font-size: 30px;
    font-weight: bold;
    color: #F4C803;
  }
  @media screen and (min-width: 400px) {
    h1,
    h2{
      font-size: 60px;
      font-weight: bold;
      color: #F4C803;
      font-family:'Russo One';
    }
  }