openapi: 3.0.3
info:
  title: Aqrabi
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://aqrabi.com'
paths:
  /api/login:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/register:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/customer/add-to-cart:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/customer/cart-list:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/customer/remove-cart/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the remove cart.'
        example: maiores
        required: true
        schema:
          type: string
  /api/customer/remove-cart-all:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/shop/categories:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  categories:
                    -
                      id: 1
                      name: 'Kenyon Rodriquez'
                      description: 'Mollit numquam et cu'
                      visibility: public
                      created_at: '2022-08-25T17:32:29.000000Z'
                      updated_at: '2022-08-25T17:32:29.000000Z'
                    -
                      id: 2
                      name: 'Baker Jacobson'
                      description: 'Dolore voluptate nem'
                      visibility: public
                      created_at: '2022-08-25T17:32:42.000000Z'
                      updated_at: '2022-08-25T17:32:42.000000Z'
                properties:
                  categories:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Kenyon Rodriquez'
                        description: 'Mollit numquam et cu'
                        visibility: public
                        created_at: '2022-08-25T17:32:29.000000Z'
                        updated_at: '2022-08-25T17:32:29.000000Z'
                      -
                        id: 2
                        name: 'Baker Jacobson'
                        description: 'Dolore voluptate nem'
                        visibility: public
                        created_at: '2022-08-25T17:32:42.000000Z'
                        updated_at: '2022-08-25T17:32:42.000000Z'
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
  /api/shop/all-products:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  products:
                    -
                      id: 1
                      supplier_id: 2
                      category_id: 2
                      productname: 'Kathleen Sargent'
                      price: 288
                      count: 56
                      description: ss
                      status: published
                      visiblity: '0'
                      tag: null
                      discount: null
                      main_photo: pr84YuWS8as6KL8RtnQumWZl1YEYtg-metaV3pDVzA3YVNVdUlZSW0xbEUzZ0NsRW1Ga0prcVJhSGl4dUVUQlVLRC5qcGVn-.jpg
                      photos: []
                      created_at: '2022-08-25T17:34:12.000000Z'
                      updated_at: '2022-08-25T17:39:22.000000Z'
                    -
                      id: 2
                      supplier_id: 2
                      category_id: 1
                      productname: 'Amy Sutton'
                      price: 64
                      count: 9
                      description: 'Veritatis nostrud ei'
                      status: published
                      visiblity: public
                      tag: null
                      discount: null
                      main_photo: aVthCZOPU7CNanruZ0byplhelB5pJV-metadG55TmJMaDRHRHdNeTBQM3F3YlA1T2NGVTBucjlnOWowemhOeUZpQS5qcGVn-.jpg
                      photos: []
                      created_at: '2022-08-25T17:34:36.000000Z'
                      updated_at: '2022-08-25T17:34:36.000000Z'
                properties:
                  products:
                    type: array
                    example:
                      -
                        id: 1
                        supplier_id: 2
                        category_id: 2
                        productname: 'Kathleen Sargent'
                        price: 288
                        count: 56
                        description: ss
                        status: published
                        visiblity: '0'
                        tag: null
                        discount: null
                        main_photo: pr84YuWS8as6KL8RtnQumWZl1YEYtg-metaV3pDVzA3YVNVdUlZSW0xbEUzZ0NsRW1Ga0prcVJhSGl4dUVUQlVLRC5qcGVn-.jpg
                        photos: []
                        created_at: '2022-08-25T17:34:12.000000Z'
                        updated_at: '2022-08-25T17:39:22.000000Z'
                      -
                        id: 2
                        supplier_id: 2
                        category_id: 1
                        productname: 'Amy Sutton'
                        price: 64
                        count: 9
                        description: 'Veritatis nostrud ei'
                        status: published
                        visiblity: public
                        tag: null
                        discount: null
                        main_photo: aVthCZOPU7CNanruZ0byplhelB5pJV-metadG55TmJMaDRHRHdNeTBQM3F3YlA1T2NGVTBucjlnOWowemhOeUZpQS5qcGVn-.jpg
                        photos: []
                        created_at: '2022-08-25T17:34:36.000000Z'
                        updated_at: '2022-08-25T17:34:36.000000Z'
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
  '/api/shop/product-by-category/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  products: []
                properties:
                  products:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product by category.'
        example: qui
        required: true
        schema:
          type: string
  '/api/shop/product-by-supplier/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  products: []
                properties:
                  products:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product by supplier.'
        example: et
        required: true
        schema:
          type: string
  /api/shop/product-group-category:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  products:
                    -
                      id: 1
                      name: 'Kenyon Rodriquez'
                      description: 'Mollit numquam et cu'
                      visibility: public
                      created_at: '2022-08-25T17:32:29.000000Z'
                      updated_at: '2022-08-25T17:32:29.000000Z'
                      products:
                        -
                          id: 2
                          supplier_id: 2
                          category_id: 1
                          productname: 'Amy Sutton'
                          price: 64
                          count: 9
                          description: 'Veritatis nostrud ei'
                          status: published
                          visiblity: public
                          tag: null
                          discount: null
                          main_photo: aVthCZOPU7CNanruZ0byplhelB5pJV-metadG55TmJMaDRHRHdNeTBQM3F3YlA1T2NGVTBucjlnOWowemhOeUZpQS5qcGVn-.jpg
                          photos: []
                          created_at: '2022-08-25T17:34:36.000000Z'
                          updated_at: '2022-08-25T17:34:36.000000Z'
                    -
                      id: 2
                      name: 'Baker Jacobson'
                      description: 'Dolore voluptate nem'
                      visibility: public
                      created_at: '2022-08-25T17:32:42.000000Z'
                      updated_at: '2022-08-25T17:32:42.000000Z'
                      products:
                        -
                          id: 1
                          supplier_id: 2
                          category_id: 2
                          productname: 'Kathleen Sargent'
                          price: 288
                          count: 56
                          description: ss
                          status: published
                          visiblity: '0'
                          tag: null
                          discount: null
                          main_photo: pr84YuWS8as6KL8RtnQumWZl1YEYtg-metaV3pDVzA3YVNVdUlZSW0xbEUzZ0NsRW1Ga0prcVJhSGl4dUVUQlVLRC5qcGVn-.jpg
                          photos: []
                          created_at: '2022-08-25T17:34:12.000000Z'
                          updated_at: '2022-08-25T17:39:22.000000Z'
                properties:
                  products:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Kenyon Rodriquez'
                        description: 'Mollit numquam et cu'
                        visibility: public
                        created_at: '2022-08-25T17:32:29.000000Z'
                        updated_at: '2022-08-25T17:32:29.000000Z'
                        products:
                          -
                            id: 2
                            supplier_id: 2
                            category_id: 1
                            productname: 'Amy Sutton'
                            price: 64
                            count: 9
                            description: 'Veritatis nostrud ei'
                            status: published
                            visiblity: public
                            tag: null
                            discount: null
                            main_photo: aVthCZOPU7CNanruZ0byplhelB5pJV-metadG55TmJMaDRHRHdNeTBQM3F3YlA1T2NGVTBucjlnOWowemhOeUZpQS5qcGVn-.jpg
                            photos: []
                            created_at: '2022-08-25T17:34:36.000000Z'
                            updated_at: '2022-08-25T17:34:36.000000Z'
                      -
                        id: 2
                        name: 'Baker Jacobson'
                        description: 'Dolore voluptate nem'
                        visibility: public
                        created_at: '2022-08-25T17:32:42.000000Z'
                        updated_at: '2022-08-25T17:32:42.000000Z'
                        products:
                          -
                            id: 1
                            supplier_id: 2
                            category_id: 2
                            productname: 'Kathleen Sargent'
                            price: 288
                            count: 56
                            description: ss
                            status: published
                            visiblity: '0'
                            tag: null
                            discount: null
                            main_photo: pr84YuWS8as6KL8RtnQumWZl1YEYtg-metaV3pDVzA3YVNVdUlZSW0xbEUzZ0NsRW1Ga0prcVJhSGl4dUVUQlVLRC5qcGVn-.jpg
                            photos: []
                            created_at: '2022-08-25T17:34:12.000000Z'
                            updated_at: '2022-08-25T17:39:22.000000Z'
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
  /api/shop/product-group-supplier:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  products:
                    -
                      id: 1
                      fullname: Admin
                      phone: '0940678725'
                      email: admin@admin.com
                      profile_url: null
                      email_verified_at: '2021-12-30T19:59:40.000000Z'
                      two_factor_secret: null
                      two_factor_recovery_codes: null
                      created_at: '2022-08-25T16:59:48.000000Z'
                      updated_at: '2022-08-25T16:59:48.000000Z'
                      products: []
                    -
                      id: 2
                      fullname: 'Supplier man'
                      phone: '0940678345'
                      email: supplier@supplier.com
                      profile_url: null
                      email_verified_at: '2021-12-30T19:59:40.000000Z'
                      two_factor_secret: null
                      two_factor_recovery_codes: null
                      created_at: '2022-08-25T16:59:48.000000Z'
                      updated_at: '2022-08-25T16:59:48.000000Z'
                      products:
                        -
                          id: 1
                          supplier_id: 2
                          category_id: 2
                          productname: 'Kathleen Sargent'
                          price: 288
                          count: 56
                          description: ss
                          status: published
                          visiblity: '0'
                          tag: null
                          discount: null
                          main_photo: pr84YuWS8as6KL8RtnQumWZl1YEYtg-metaV3pDVzA3YVNVdUlZSW0xbEUzZ0NsRW1Ga0prcVJhSGl4dUVUQlVLRC5qcGVn-.jpg
                          photos: []
                          created_at: '2022-08-25T17:34:12.000000Z'
                          updated_at: '2022-08-25T17:39:22.000000Z'
                        -
                          id: 2
                          supplier_id: 2
                          category_id: 1
                          productname: 'Amy Sutton'
                          price: 64
                          count: 9
                          description: 'Veritatis nostrud ei'
                          status: published
                          visiblity: public
                          tag: null
                          discount: null
                          main_photo: aVthCZOPU7CNanruZ0byplhelB5pJV-metadG55TmJMaDRHRHdNeTBQM3F3YlA1T2NGVTBucjlnOWowemhOeUZpQS5qcGVn-.jpg
                          photos: []
                          created_at: '2022-08-25T17:34:36.000000Z'
                          updated_at: '2022-08-25T17:34:36.000000Z'
                    -
                      id: 3
                      fullname: 'Some Customer'
                      phone: '0956567657'
                      email: customer@customer.com
                      profile_url: null
                      email_verified_at: '2021-12-30T19:59:40.000000Z'
                      two_factor_secret: null
                      two_factor_recovery_codes: null
                      created_at: '2022-08-25T16:59:49.000000Z'
                      updated_at: '2022-08-25T16:59:49.000000Z'
                      products: []
                properties:
                  products:
                    type: array
                    example:
                      -
                        id: 1
                        fullname: Admin
                        phone: '0940678725'
                        email: admin@admin.com
                        profile_url: null
                        email_verified_at: '2021-12-30T19:59:40.000000Z'
                        two_factor_secret: null
                        two_factor_recovery_codes: null
                        created_at: '2022-08-25T16:59:48.000000Z'
                        updated_at: '2022-08-25T16:59:48.000000Z'
                        products: []
                      -
                        id: 2
                        fullname: 'Supplier man'
                        phone: '0940678345'
                        email: supplier@supplier.com
                        profile_url: null
                        email_verified_at: '2021-12-30T19:59:40.000000Z'
                        two_factor_secret: null
                        two_factor_recovery_codes: null
                        created_at: '2022-08-25T16:59:48.000000Z'
                        updated_at: '2022-08-25T16:59:48.000000Z'
                        products:
                          -
                            id: 1
                            supplier_id: 2
                            category_id: 2
                            productname: 'Kathleen Sargent'
                            price: 288
                            count: 56
                            description: ss
                            status: published
                            visiblity: '0'
                            tag: null
                            discount: null
                            main_photo: pr84YuWS8as6KL8RtnQumWZl1YEYtg-metaV3pDVzA3YVNVdUlZSW0xbEUzZ0NsRW1Ga0prcVJhSGl4dUVUQlVLRC5qcGVn-.jpg
                            photos: []
                            created_at: '2022-08-25T17:34:12.000000Z'
                            updated_at: '2022-08-25T17:39:22.000000Z'
                          -
                            id: 2
                            supplier_id: 2
                            category_id: 1
                            productname: 'Amy Sutton'
                            price: 64
                            count: 9
                            description: 'Veritatis nostrud ei'
                            status: published
                            visiblity: public
                            tag: null
                            discount: null
                            main_photo: aVthCZOPU7CNanruZ0byplhelB5pJV-metadG55TmJMaDRHRHdNeTBQM3F3YlA1T2NGVTBucjlnOWowemhOeUZpQS5qcGVn-.jpg
                            photos: []
                            created_at: '2022-08-25T17:34:36.000000Z'
                            updated_at: '2022-08-25T17:34:36.000000Z'
                      -
                        id: 3
                        fullname: 'Some Customer'
                        phone: '0956567657'
                        email: customer@customer.com
                        profile_url: null
                        email_verified_at: '2021-12-30T19:59:40.000000Z'
                        two_factor_secret: null
                        two_factor_recovery_codes: null
                        created_at: '2022-08-25T16:59:49.000000Z'
                        updated_at: '2022-08-25T16:59:49.000000Z'
                        products: []
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
  '/api/shop/product-single/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  products: null
                properties:
                  products:
                    type: string
                    example: null
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product single.'
        example: non
        required: true
        schema:
          type: string
  /api/adress/get-countries:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  countries: []
                properties:
                  countries:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/adress/get-shippment-adress:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/adress/get-supplier-adress:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/adress/store-shippment-adress:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/shop/get-sliders:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  sliders:
                    -
                      id: 1
                      information: 'Dolorum ab id in eni'
                      photo_url: qp4Do3zS9pElpcoxl5kJJ1w4xv9U8P-metaWHg5aVdrZE52MTNvWXJIUGJSS1JWNENMVm9TVkxVT2VmdWxIc2FKQi5qcGVn-.jpg
                      created_at: '2022-08-25T18:04:34.000000Z'
                      updated_at: '2022-08-25T18:04:34.000000Z'
                properties:
                  sliders:
                    type: array
                    example:
                      -
                        id: 1
                        information: 'Dolorum ab id in eni'
                        photo_url: qp4Do3zS9pElpcoxl5kJJ1w4xv9U8P-metaWHg5aVdrZE52MTNvWXJIUGJSS1JWNENMVm9TVkxVT2VmdWxIc2FKQi5qcGVn-.jpg
                        created_at: '2022-08-25T18:04:34.000000Z'
                        updated_at: '2022-08-25T18:04:34.000000Z'
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
